In [2]:
import pandas as pd
import numpy as np

In [5]:
df_train = pd.read_csv('data_DM1.csv')
df_train.shape

(10000, 42)

In [6]:
#df_train.columns
#df_train.dtypes
#df_train.index
df_train

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,TAXINC,VETQVA,VETYN,WKSWORK,CLASS
0,43,LocalGovernment,43,10,Mastersdegree(MAMSMEngMEdMSWMBA),0,Not_in_universe,Married-civilianspousepresent,Education,Professionalspecialty,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
1,0,Not_in_universe,0,0,Children,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,0,0,94,-50000
2,44,Private,11,22,Somecollegebutnodegree,0,Not_in_universe,Married-civilianspousepresent,Manufacturing-durablegoods,Admsupportincludingclerical,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
3,43,Self-employed-incorporated,35,17,Bachelorsdegree(BAABBS),0,Not_in_universe,Married-civilianspousepresent,Financeinsuranceandrealestate,Sales,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
4,39,Private,24,26,Bachelorsdegree(BAABBS),0,Not_in_universe,Married-civilianspousepresent,Manufacturing-nondurablegoods,Admsupportincludingclerical,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,57,Private,42,26,Somecollegebutnodegree,0,Not_in_universe,Married-civilianspousepresent,Medicalexcepthospital,Admsupportincludingclerical,...,United-States,El-Salvador,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
9996,13,Not_in_universe,0,0,Children,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,0,0,94,-50000
9997,5,Not_in_universe,0,0,Children,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,0,0,94,-50000
9998,64,Not_in_universe,0,0,10thgrade,0,Not_in_universe,Married-civilianspousepresent,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,0,94,-50000
9999,29,LocalGovernment,45,15,Mastersdegree(MAMSMEngMEdMSWMBA),0,Not_in_universe,Married-civilianspousepresent,Otherprofessionalservices,Techniciansandrelatedsupport,...,United-States,United-States,United-States,Native-BornintheUnitedStates,2,Not_in_universe,2,52,94,50000+

In [7]:
df_train.iloc[4]
df_train['AAGE']
df_train[:3]

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,TAXINC,VETQVA,VETYN,WKSWORK,CLASS
0,43,LocalGovernment,43,10,Mastersdegree(MAMSMEngMEdMSWMBA),0,Not_in_universe,Married-civilianspousepresent,Education,Professionalspecialty,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
1,0,Not_in_universe,0,0,Children,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,0,0,94,-50000
2,44,Private,11,22,Somecollegebutnodegree,0,Not_in_universe,Married-civilianspousepresent,Manufacturing-durablegoods,Admsupportincludingclerical,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+

In [8]:
df_train[df_train['AAGE']>30]

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,TAXINC,VETQVA,VETYN,WKSWORK,CLASS
0,43,LocalGovernment,43,10,Mastersdegree(MAMSMEngMEdMSWMBA),0,Not_in_universe,Married-civilianspousepresent,Education,Professionalspecialty,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
2,44,Private,11,22,Somecollegebutnodegree,0,Not_in_universe,Married-civilianspousepresent,Manufacturing-durablegoods,Admsupportincludingclerical,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
3,43,Self-employed-incorporated,35,17,Bachelorsdegree(BAABBS),0,Not_in_universe,Married-civilianspousepresent,Financeinsuranceandrealestate,Sales,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
4,39,Private,24,26,Bachelorsdegree(BAABBS),0,Not_in_universe,Married-civilianspousepresent,Manufacturing-nondurablegoods,Admsupportincludingclerical,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
6,70,Not_in_universe,0,0,Highschoolgraduate,0,Not_in_universe,Married-civilianspousepresent,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,0,94,-50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,90,Not_in_universe,0,0,Highschoolgraduate,0,Not_in_universe,Married-civilianspousepresent,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,26,94,50000+
9993,72,Not_in_universe,0,0,Highschoolgraduate,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,Mexico,Mexico,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,0,94,-50000
9994,53,Private,33,19,7thand8thgrade,475,Not_in_universe,Married-civilianspousepresent,Retailtrade,Sales,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,-50000
9995,57,Private,42,26,Somecollegebutnodegree,0,Not_in_universe,Married-civilianspousepresent,Medicalexcepthospital,Admsupportincludingclerical,...,United-States,El-Salvador,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
9998,64,Not_in_universe,0,0,10thgrade,0,Not_in_universe,Married-civilianspousepresent,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,0,94,-50000

In [9]:
df_train['ACLSWKR'].value_counts()

ACLSWKR
Private                          4742
Not_in_universe                  2973
Self-employed-notIncorporated     699
LocalGovernment                   509
Self-employed-incorporated        491
StateGovernment                   298
FederalGovernment                 267
NeverWorked                        16
WithoutPay                          5
Name: count, dtype: int64

In [11]:
for name in df_train.columns:
    if df_train[name].dtype=='object':
        s=df_train[name].value_counts()
        if s[0]>int(0.8*df_train.index.size):
            print(name,' poor informativity ', s)
        if s[-1]<10:
            print(name,' small grads', s)
    else:
        if df_train[name].var()==0:
            print(name, 'feature is constant')

ACLSWKR  small grads ACLSWKR
Private                          4742
Not_in_universe                  2973
Self-employed-notIncorporated     699
LocalGovernment                   509
Self-employed-incorporated        491
StateGovernment                   298
FederalGovernment                 267
NeverWorked                        16
WithoutPay                          5
Name: count, dtype: int64
AHSCOL  poor informativity  AHSCOL
Not_in_universe        9650
Highschool              176
Collegeoruniversity     174
Name: count, dtype: int64
AMJIND  small grads AMJIND
Not_in_universeorchildren          2989
Manufacturing-durablegoods          861
Retailtrade                         725
Financeinsuranceandrealestate       608
Education                           543
Manufacturing-nondurablegoods       513
Otherprofessionalservices           498
Businessandrepairservices           403
Publicadministration                379
Construction                        379
Medicalexcepthospital               346
Wholesaletrade                      306
Transportation                      301
Hospitalservices                    279
Agriculture                         158
Communications                      151
Utilitiesandsanitaryservices        130
PersonalservicesexceptprivateHH     109
Socialservices                      102
Entertainment                        92
Mining                               77
Privatehouseholdservices             27
Forestryandfisheries                 20
ArmedForces                           4
Name: count, dtype: int64
AMJOCC  small grads AMJOCC
Not_in_universe                      2989
Executiveadminandmanagerial          1668
Professionalspecialty                1664
Sales                                 919
Precisionproductioncraft&repair       641
Admsupportincludingclerical           594
Otherservice                          369
Machineoperatorsassmblrs&inspctrs     264
Transportationandmaterialmoving       247
Techniciansandrelatedsupport          195
Farmingforestryandfishing             148
Protectiveservices                    148
Handlersequipcleanersetc              130
Privatehouseholdservices               20
ArmedForces                             4
Name: count, dtype: int64
ARACE  poor informativity  ARACE
White                      8838
Black                       721
AsianorPacificIslander      266
Other                        97
AmerIndianAleutorEskimo      78
Name: count, dtype: int64
AREORGN  poor informativity  AREORGN
Allother                  9115
Mexican-American           295
Mexican(Mexicano)          205
CentralorSouthAmerican     111
PuertoRican                103
OtherSpanish                81
Cuban                       58
Donotknow                   18
Chicano                     14
Name: count, dtype: int64
AUNMEM  poor informativity  AUNMEM
Not_in_universe    8652
No                 1127
Yes                 221
Name: count, dtype: int64
AUNTYPE  poor informativity  AUNTYPE
Not_in_universe      9762
Otherjobloser         107
Re-entrant             73
Jobloser-onlayoff      27
Newentrant             16
Jobleaver              15
Name: count, dtype: int64
AWKSTAT  poor informativity  AWKSTAT
ChildrenorArmedForces    10000
Name: count, dtype: int64
GRINREG  poor informativity  GRINREG
Not_in_universe    8688
South               398
West                355
Midwest             292
Northeast           239
Abroad               28
Name: count, dtype: int64
GRINST  poor informativity  GRINST
Not_in_universe       8688
California             145
NorthCarolina           95
Utah                    89
Florida                 82
Minnesota               63
Oklahoma                54
NewMexico               51
Michigan                40
Abroad                  37
Indiana                 35
NorthDakota             34
Alaska                  31
NewHampshire            29
Kentucky                22
Texas                   21
Arizona                 20
Oregon                  20
Colorado                20
Wyoming                 20
Louisiana               20
NewYork                 20
WestVirginia            19
DistrictofColumbia      19
Illinois                17
Montana                 17
Vermont                 16
Maine                   16
Alabama                 16
Tennessee               16
Ohio                    16
Pennsylvania            16
Massachusetts           15
Connecticut             15
Arkansas                14
Missouri                14
Mississippi             13
Georgia                 13
Nevada                  13
SouthDakota             12
Maryland                12
Iowa                    12
Nebraska                12
Kansas                  11
NewJersey               10
SouthCarolina            9
Wisconsin                8
Virginia                 7
Delaware                 5
Idaho                    1
Name: count, dtype: int64
GRINST  small grads GRINST
Not_in_universe       8688
California             145
NorthCarolina           95
Utah                    89
Florida                 82
Minnesota               63
Oklahoma                54
NewMexico               51
Michigan                40
Abroad                  37
Indiana                 35
NorthDakota             34
Alaska                  31
NewHampshire            29
Kentucky                22
Texas                   21
Arizona                 20
Oregon                  20
Colorado                20
Wyoming                 20
Louisiana               20
NewYork                 20
WestVirginia            19
DistrictofColumbia      19
Illinois                17
Montana                 17
Vermont                 16
Maine                   16
Alabama                 16
Tennessee               16
Ohio                    16
Pennsylvania            16
Massachusetts           15
Connecticut             15
Arkansas                14
Missouri                14
Mississippi             13
Georgia                 13
Nevada                  13
SouthDakota             12
Maryland                12
Iowa                    12
Nebraska                12
Kansas                  11
NewJersey               10
SouthCarolina            9
Wisconsin                8
Virginia                 7
Delaware                 5
Idaho                    1
Name: count, dtype: int64
HHDFMX  small grads HHDFMX
Householder                                 4535
Spouseofhouseholder                         1858
Child<18nevermarrnotinsubfamily             1357
Nonfamilyhouseholder                        1261
Child18+nevermarrNotinasubfamily             380
Secondaryindividual                          214
OtherRel18+evermarrnotinsubfamily             56
OtherRel18+nevermarrnotinsubfamily            46
Grandchild<18nevermarrchildofsubfamilyRP      44
Child18+evermarrNotinasubfamily               37
RPofunrelatedsubfamily                        25
Grandchild<18nevermarrnotinsubfamily          23
Child18+evermarrRPofsubfamily                 22
OtherRel<18nevermarrchildofsubfamilyRP        20
Childunder18ofRPofunrelsubfamily              20
OtherRel18+evermarrRPofsubfamily              19
OtherRel18+spouseofsubfamilyRP                19
Child18+nevermarrRPofsubfamily                18
OtherRel<18nevermarrnotinsubfamily            13
Grandchild18+nevermarrnotinsubfamily          12
Ingroupquarters                                7
SpouseofRPofunrelatedsubfamily                 6
Child18+spouseofsubfamilyRP                    4
OtherRel18+nevermarrRPofsubfamily              3
Grandchild<18evermarrnotinsubfamily            1
Name: count, dtype: int64
HHDREL  small grads HHDREL
Householder                          5796
Spouseofhouseholder                  1859
Childunder18nevermarried             1359
Child18orolder                        461
Nonrelativeofhouseholder              265
Otherrelativeofhouseholder            256
GroupQuarters-Secondaryindividual       4
Name: count, dtype: int64
MIGMTR1  poor informativity  MIGMTR1
Nonmover           8609
MSAtoMSA            945
NonMSAtononMSA      193
Not_in_universe      79
MSAtononMSA          60
NonMSAtoMSA          52
Notidentifiable      34
AbroadtoMSA          23
AbroadtononMSA        5
Name: count, dtype: int64
MIGMTR1  small grads MIGMTR1
Nonmover           8609
MSAtoMSA            945
NonMSAtononMSA      193
Not_in_universe      79
MSAtononMSA          60
NonMSAtoMSA          52
Notidentifiable      34
AbroadtoMSA          23
AbroadtononMSA        5
Name: count, dtype: int64
MIGMTR3  poor informativity  MIGMTR3
Nonmover                       8609
Samecounty                      812
Differentcountysamestate        232
Differentregion                 116
Not_in_universe                  79
Differentstatesamedivision       69
Differentdivisionsameregion      55
Abroad                           28
Name: count, dtype: int64
MIGMTR4  poor informativity  MIGMTR4
Nonmover                     8609
Samecounty                    812
Differentcountysamestate      232
DifferentstateinSouth          84
Not_in_universe                79
DifferentstateinWest           69
DifferentstateinMidwest        49
DifferentstateinNortheast      38
Abroad                         28
Name: count, dtype: int64
MIGSAME  poor informativity  MIGSAME
Yes                             8609
No                              1312
Not_in_universeunder1yearold      79
Name: count, dtype: int64
MIGSUN  poor informativity  MIGSUN
Not_in_universe    8688
No                  823
Yes                 489
Name: count, dtype: int64
PARENT  poor informativity  PARENT
Not_in_universe         8520
Bothparentspresent      1031
Motheronlypresent        377
Neitherparentpresent      37
Fatheronlypresent         35
Name: count, dtype: int64
PEFNTVTY  poor informativity  PEFNTVTY
United-States               8527
Mexico                       291
Italy                        120
Canada                        92
Puerto-Rico                   89
Germany                       82
Poland                        64
Philippines                   60
Cuba                          56
England                       54
China                         49
India                         44
Ireland                       44
Dominican-Republic            41
El-Salvador                   39
SouthKorea                    31
Greece                        30
Hungary                       27
Taiwan                        22
Japan                         20
Nicaragua                     19
Ecuador                       18
Guatemala                     17
Portugal                      16
Columbia                      15
Jamaica                       15
Peru                          15
Scotland                      15
France                        13
Vietnam                       13
Iran                          11
Haiti                         11
Yugoslavia                    10
Thailand                       7
Honduras                       6
Laos                           6
Cambodia                       4
Outlying-US(GuamUSVIetc)       3
Trinadad&Tobago                2
HongKong                       2
Name: count, dtype: int64
PEFNTVTY  small grads PEFNTVTY
United-States               8527
Mexico                       291
Italy                        120
Canada                        92
Puerto-Rico                   89
Germany                       82
Poland                        64
Philippines                   60
Cuba                          56
England                       54
China                         49
India                         44
Ireland                       44
Dominican-Republic            41
El-Salvador                   39
SouthKorea                    31
Greece                        30
Hungary                       27
Taiwan                        22
Japan                         20
Nicaragua                     19
Ecuador                       18
Guatemala                     17
Portugal                      16
Columbia                      15
Jamaica                       15
Peru                          15
Scotland                      15
France                        13
Vietnam                       13
Iran                          11
Haiti                         11
Yugoslavia                    10
Thailand                       7
Honduras                       6
Laos                           6
Cambodia                       4
Outlying-US(GuamUSVIetc)       3
Trinadad&Tobago                2
HongKong                       2
Name: count, dtype: int64
PEMNTVTY  poor informativity  PEMNTVTY
United-States               8589
Mexico                       297
Germany                       91
Canada                        89
Puerto-Rico                   82
Italy                         74
Philippines                   60
England                       57
Poland                        55
Cuba                          53
Ireland                       50
El-Salvador                   50
India                         44
China                         43
Dominican-Republic            30
SouthKorea                    30
Japan                         25
Taiwan                        23
Hungary                       23
Greece                        20
Columbia                      19
France                        17
Nicaragua                     17
Ecuador                       17
Jamaica                       15
Scotland                      14
Peru                          14
Guatemala                     13
Vietnam                       13
Portugal                      12
Haiti                         12
Iran                          11
Yugoslavia                    11
Honduras                       8
Thailand                       7
Laos                           6
Cambodia                       3
HongKong                       3
Outlying-US(GuamUSVIetc)       2
Trinadad&Tobago                1
Name: count, dtype: int64
PEMNTVTY  small grads PEMNTVTY
United-States               8589
Mexico                       297
Germany                       91
Canada                        89
Puerto-Rico                   82
Italy                         74
Philippines                   60
England                       57
Poland                        55
Cuba                          53
Ireland                       50
El-Salvador                   50
India                         44
China                         43
Dominican-Republic            30
SouthKorea                    30
Japan                         25
Taiwan                        23
Hungary                       23
Greece                        20
Columbia                      19
France                        17
Nicaragua                     17
Ecuador                       17
Jamaica                       15
Scotland                      14
Peru                          14
Guatemala                     13
Vietnam                       13
Portugal                      12
Haiti                         12
Iran                          11
Yugoslavia                    11
Honduras                       8
Thailand                       7
Laos                           6
Cambodia                       3
HongKong                       3
Outlying-US(GuamUSVIetc)       2
Trinadad&Tobago                1
Name: count, dtype: int64
PENATVTY  poor informativity  PENATVTY
United-States         9158
Mexico                 168
Germany                 56
Philippines             49
Puerto-Rico             43
Cuba                    42
Canada                  42
India                   38
England                 31
El-Salvador             30
SouthKorea              30
China                   23
Dominican-Republic      22
Taiwan                  22
Italy                   20
Japan                   19
Poland                  18
Greece                  16
Columbia                14
Vietnam                 14
Jamaica                 14
Peru                    14
Nicaragua               12
Guatemala               12
Iran                    11
Ecuador                 10
France                   9
Ireland                  9
Haiti                    9
Portugal                 9
Thailand                 8
Honduras                 7
Scotland                 5
Laos                     4
Hungary                  4
HongKong                 3
Yugoslavia               2
Cambodia                 2
Trinadad&Tobago          1
Name: count, dtype: int64
PENATVTY  small grads PENATVTY
United-States         9158
Mexico                 168
Germany                 56
Philippines             49
Puerto-Rico             43
Cuba                    42
Canada                  42
India                   38
England                 31
El-Salvador             30
SouthKorea              30
China                   23
Dominican-Republic      22
Taiwan                  22
Italy                   20
Japan                   19
Poland                  18
Greece                  16
Columbia                14
Vietnam                 14
Jamaica                 14
Peru                    14
Nicaragua               12
Guatemala               12
Iran                    11
Ecuador                 10
France                   9
Ireland                  9
Haiti                    9
Portugal                 9
Thailand                 8
Honduras                 7
Scotland                 5
Laos                     4
Hungary                  4
HongKong                 3
Yugoslavia               2
Cambodia                 2
Trinadad&Tobago          1
Name: count, dtype: int64
PRCITSHP  poor informativity  PRCITSHP
Native-BornintheUnitedStates             9158
Foreignborn-NotacitizenofUS               429
Foreignborn-UScitizenbynaturalization     298
Native-BornabroadofAmericanParent(s)       72
Native-BorninPuertoRicoorUSOutlying        43
Name: count, dtype: int64
TAXINC  poor informativity  TAXINC
Not_in_universe    9858
No                  126
Yes                  16
Name: count, dtype: int64
WKSWORK feature is constant

In [12]:
del df_train['ARACE'],df_train['AREORGN']

In [13]:
df_train.replace(to_replace={'AMARITL': {'Separated': 'Otherwise','Widowed': 'Otherwise','Divorsed':'Otherwise'}})

,AAGE,ACLSWKR,ADTIND,ADTOCC,AHGA,AHRSPAY,AHSCOL,AMARITL,AMJIND,AMJOCC,...,PEFNTVTY,PEMNTVTY,PENATVTY,PRCITSHP,SEOTR,TAXINC,VETQVA,VETYN,WKSWORK,CLASS
0,43,LocalGovernment,43,10,Mastersdegree(MAMSMEngMEdMSWMBA),0,Not_in_universe,Married-civilianspousepresent,Education,Professionalspecialty,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
1,0,Not_in_universe,0,0,Children,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,0,0,94,-50000
2,44,Private,11,22,Somecollegebutnodegree,0,Not_in_universe,Married-civilianspousepresent,Manufacturing-durablegoods,Admsupportincludingclerical,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
3,43,Self-employed-incorporated,35,17,Bachelorsdegree(BAABBS),0,Not_in_universe,Married-civilianspousepresent,Financeinsuranceandrealestate,Sales,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
4,39,Private,24,26,Bachelorsdegree(BAABBS),0,Not_in_universe,Married-civilianspousepresent,Manufacturing-nondurablegoods,Admsupportincludingclerical,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,57,Private,42,26,Somecollegebutnodegree,0,Not_in_universe,Married-civilianspousepresent,Medicalexcepthospital,Admsupportincludingclerical,...,United-States,El-Salvador,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,52,94,50000+
9996,13,Not_in_universe,0,0,Children,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,0,0,94,-50000
9997,5,Not_in_universe,0,0,Children,0,Not_in_universe,Nevermarried,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,0,0,94,-50000
9998,64,Not_in_universe,0,0,10thgrade,0,Not_in_universe,Married-civilianspousepresent,Not_in_universeorchildren,Not_in_universe,...,United-States,United-States,United-States,Native-BornintheUnitedStates,0,Not_in_universe,2,0,94,-50000
9999,29,LocalGovernment,45,15,Mastersdegree(MAMSMEngMEdMSWMBA),0,Not_in_universe,Married-civilianspousepresent,Otherprofessionalservices,Techniciansandrelatedsupport,...,United-States,United-States,United-States,Native-BornintheUnitedStates,2,Not_in_universe,2,52,94,50000+

In [21]:
df_train.loc[df_train['AMARITL']!='Married-civilianspousepresent','AMARITL']='Otherwise'
credit = df_train['CLASS']
#print(credit)
print(type(credit[0]))
for cred in credit:
    print(credit)
    print(type(credit))
    if(credit = "50000+"):
        continue
credit

<class 'str'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object
<class 'pandas.core.series.Series'>
0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object

0       50000+
1       -50000
2       50000+
3       50000+
4       50000+
         ...
9995    50000+
9996    -50000
9997    -50000
9998    -50000
9999    50000+
Name: CLASS, Length: 10000, dtype: object

In [15]:
from copy import deepcopy

def dummy_encode_categorical_columns(df, categorical_columns):
    result_df = deepcopy(df)
    for column in categorical_columns:
        result_df = pd.concat([result_df, pd.get_dummies(result_df[column], prefix=column, prefix_sep=': ')], axis=1)
        del result_df[column]
    return result_df

In [16]:
categorical_columns = set(df_train.columns[df_train.dtypes == 'object'])
df_no_cat = dummy_encode_categorical_columns(df_train, categorical_columns)
X_train=df_no_cat.values.astype(np.float32)

In [17]:
df_no_cat

,AAGE,ADTIND,ADTOCC,AHRSPAY,CAPGAIN,CAPLOSS,DIVVAL,MARSUPWT,NOEMP,SEOTR,...,AMJOCC: Machineoperatorsassmblrs&inspctrs,AMJOCC: Not_in_universe,AMJOCC: Otherservice,AMJOCC: Precisionproductioncraft&repair,AMJOCC: Privatehouseholdservices,AMJOCC: Professionalspecialty,AMJOCC: Protectiveservices,AMJOCC: Sales,AMJOCC: Techniciansandrelatedsupport,AMJOCC: Transportationandmaterialmoving
0,43,43,10,0,0,0,2,1232.40,6,0,...,False,False,False,False,False,True,False,False,False,False
1,0,0,0,0,0,0,0,3062.92,0,0,...,False,True,False,False,False,False,False,False,False,False
2,44,11,22,0,0,0,1000,1502.40,6,0,...,False,False,False,False,False,False,False,False,False,False
3,43,35,17,0,99999,0,1000,295.30,2,0,...,False,False,False,False,False,False,False,True,False,False
4,39,24,26,0,0,0,0,2700.08,6,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,57,42,26,0,0,0,500,2115.52,1,0,...,False,False,False,False,False,False,False,False,False,False
9996,13,0,0,0,0,0,0,1732.77,0,0,...,False,True,False,False,False,False,False,False,False,False
9997,5,0,0,0,0,0,0,2326.47,0,0,...,False,True,False,False,False,False,False,False,False,False
9998,64,0,0,0,0,0,0,3217.88,0,0,...,False,True,False,False,False,False,False,False,False,False
9999,29,45,15,0,0,0,0,1646.68,4,2,...,False,False,False,False,False,False,False,False,True,False

In [18]:
X_train

array([[43., 43., 10., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [44., 11., 22., ...,  0.,  0.,  0.],
       ...,
       [ 5.,  0.,  0., ...,  0.,  0.,  0.],
       [64.,  0.,  0., ...,  0.,  0.,  0.],
       [29., 45., 15., ...,  0.,  1.,  0.]], dtype=float32)